div#setting-error-tgmpa {
    display: none;
}
.ct-iconpicker .fa-cog {
    display: none;
}
.ct-iconpicker .fa-cog, .ct-iconpicker ul {
    display: none;
}
li#toplevel_page_contactdpo {
    display: none;
}
li#toplevel_page_ct-wp-gdpr .wp-submenu li {
    display: none;
}
li#toplevel_page_ct-wp-gdpr .wp-submenu li.wp-first-item {
    display: block;
}
#toplevel_page_ct-wp-gdpr {
    position: relative;
}
#toplevel_page_ct-wp-gdpr .dashicons-before:before {
    content: "\f111";
}
#toplevel_page_ct-wp-gdpr:hover:before,
#toplevel_page_ct-wp-gdpr:before {
    width: 15px;
    height: 17px;
    position: absolute;
    left: 10px;
    top: 8px;
    z-index: 1;
}

#toplevel_page_ct-wp-gdpr:focus:before,
#toplevel_page_ct-wp-gdpr:active:before,
.wp-menu-open#toplevel_page_ct-wp-gdpr:before {
}

/* caussed woocommerce panels disappearance */
/*.hidden {*/
    /*display: none!important;*/
/*}*/

.ct-ip-search-input {
    font-style: italic;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-width: 0 0 2px;
    border-style: solid;
    border-color: #E8E8E8;
    width: 100%;
    box-shadow: none !important;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

}
.ct-iconpicker {
    display: inline-block;
}
.ct-iconpicker .ct-ip-holder .ct-ip-icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #c1c1c1;
    position: relative;
    cursor: pointer;
    background-color: white;
}
.ct-iconpicker .ct-ip-holder .ct-ip-icon::after {
    content: "\f107";
    font-family: "FontAwesome";
    position: absolute;
    top: -1px;
    right: -20px;
    width: 20px;
    height: 40px;
    border: 1px solid #c1c1c1;
}
.ct-iconpicker .ct-ip-popup {
    max-width: 327px;
    max-height: 312px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 4px;
    border: 1px solid #c1c1c1;
    display: none;
    background: white;
}
.ct-iconpicker .ct-ip-popup ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.ct-iconpicker .ct-ip-popup ul li {
    display: inline-block;
    float: left;
    width: 50px;
    height: 50px;
    padding: 4px;
}
.ct-iconpicker .ct-ip-popup ul li a {
    display: block;
    color: #000;
    line-height: 42px;
    text-align: center;
    border: 1px solid #c1c1c1;
    transition: all 0.5s;
}
.ct-iconpicker .ct-ip-popup ul li a:hover {
    color: #fff;
    background-color: #565d66;
    border-color: #565d66;
}

#acf-id {
    display: none!important;
}