.toplevel_page_ct-ultimate-gdpr .wp-submenu-wrap li{
	display:none;
}
.toplevel_page_ct-ultimate-gdpr .wp-submenu-wrap li.wp-first-item{
	display:block;
}
.toplevel_page_contactdpo1{
	display:none;	
}
li#toplevel_page_contactdpo {
    height: 0px;
    font-size: 0px !important;
    display: block;
    padding: 0px;
    visibility: hidden;
    margin: 0px;
}
li#toplevel_page_contactdpo a{
    height: 0px;
    font-size: 0px !important;
    display: block;
    padding: 0px;
    visibility: hidden;
    margin: 0px;
}