#toplevel_page_ct-ultimate-gdpr {
    position: relative;
}

#toplevel_page_ct-ultimate-gdpr:hover:before,
#toplevel_page_ct-ultimate-gdpr:before {
    content: url('images/menu-icon-active.png');
    width: 15px;
    height: 17px;
    position: absolute;
    left: 10px;
    top: 8px;
    z-index: 1;
}

#toplevel_page_ct-ultimate-gdpr:focus:before,
#toplevel_page_ct-ultimate-gdpr:active:before,
.wp-menu-open#toplevel_page_ct-ultimate-gdpr:before {
    content: url('images/menu-icon-inactive.png');

}